body {
    margin: 20px;
    justify-content: center;
}

#canvas {
    border: 1px solid black;
    width: 100%;
}

#stop {
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: 'Open Sans', sans-serif;
    color:red;

  }
  #text{
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
  }

  p{
      margin: 0px;
      padding-right: 5px;
  }
 
