body {
    margin: 20px;
}

#canvas {
    border: 1px solid black;
    width: 90%; 
}

#stop {
    position: absolute;
    top: 25%;
    left: 10%
  }

  #velocity {
      position: absolute;
      top:20%;
      left:10%;
  }
  #faster {
    position: absolute;
    top:25%;
    left:10%;
}
#slower {
    position: absolute;
    top:25%;
    left:10%;
}